In [168]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import seaborn as sns
import random
import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual

In [169]:
aSales = pd.read_csv('../input/Asales.csv')
bSales = pd.read_csv('../input/Bsales.csv')
covid19 = pd.read_csv('../input/covid-19.csv')
item_cat = pd.read_csv('../input/item_categories.csv')
items = pd.read_csv('../input/items.csv')
shops = pd.read_csv('../input/shops.csv')

In [233]:
frames = [((covid19['location']=='China')&(covid19['date']>='2020-03-01')), ((covid19['location']=='Thailand')&(covid19['date']>='2020-03-01')),  ((covid19['location']=='Oman')&(covid19['date']>='2020-03-01'))]
result = pd.concat(frames)
result

0         False
1         False
2         False
3         False
4         False
          ...
119903    False
119904    False
119905    False
119906    False
119907    False
Length: 359724, dtype: bool

In [231]:
location_list = covid19[((covid19['location']=='China')&(covid19['date']>='2020-03-01')) ]
location_list.add(((covid19['location']=='Thailand')&(covid19['date']>='2020-03-01')))
location_list.add(((covid19['location']=='Oman')&(covid19['date']>='2020-03-01')))
location_list

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
22638,CHN,Asia,China,2020-03-01,79836.0,575.0,412.571,2870.0,35.0,61.000,...,1.9,48.4,NaN,4.34,76.91,0.761,NaN,NaN,NaN,NaN
22639,CHN,Asia,China,2020-03-02,80036.0,200.0,410.571,2912.0,42.0,45.571,...,1.9,48.4,NaN,4.34,76.91,0.761,NaN,NaN,NaN,NaN
22640,CHN,Asia,China,2020-03-03,80161.0,125.0,355.857,2945.0,33.0,40.286,...,1.9,48.4,NaN,4.34,76.91,0.761,NaN,NaN,NaN,NaN
22641,CHN,Asia,China,2020-03-04,80281.0,120.0,315.143,2981.0,36.0,38.000,...,1.9,48.4,NaN,4.34,76.91,0.761,NaN,NaN,NaN,NaN
22642,CHN,Asia,China,2020-03-05,80432.0,151.0,274.857,3013.0,32.0,38.429,...,1.9,48.4,NaN,4.34,76.91,0.761,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23210,CHN,Asia,China,2021-09-24,96051.0,40.0,52.143,4636.0,0.0,0.000,...,1.9,48.4,NaN,4.34,76.91,0.761,NaN,NaN,NaN,NaN
23211,CHN,Asia,China,2021-09-25,96081.0,30.0,47.000,4636.0,0.0,0.000,...,1.9,48.4,NaN,4.34,76.91,0.761,NaN,NaN,NaN,NaN
23212,CHN,Asia,China,2021-09-26,96116.0,35.0,45.000,4636.0,0.0,0.000,...,1.9,48.4,NaN,4.34,76.91,0.761,NaN,NaN,NaN,NaN
23213,CHN,Asia,China,2021-09-27,96148.0,32.0,39.286,4636.0,0.0,0.000,...,1.9,48.4,NaN,4.34,76.91,0.761,NaN,NaN,NaN,NaN
23214,CHN,Asia,China,2021-09-28,96177.0,29.0,37.571,4636.0,0.0,0.000,...,1.9,48.4,NaN,4.34,76.91,0.761,NaN,NaN,NaN,NaN

In [228]:
location_list = covid19[((covid19['location']=='China')&(covid19['date']>='2020-03-01')) ]
location_list.add(((covid19['location']=='Thailand')&(covid19['date']>='2020-03-01')))
location_list.add(((covid19['location']=='Oman')&(covid19['datetime']>='2020-03-01')))
                       # ((covid19['location']=='Thailand')&(covid19['datetime']>='2020-03-01'))|
                        #((covid19['location']=='Oman')&(covid19['datetime']>='2020-03-01'))]

Graph = pd.pivot_table(location_list, index=['date'],columns=['location'],values=['new_cases'], aggfunc=np.sum)
fig = plt.figure(figsize=(13, 6))

plt.plot(Graph)
plt.title('Covid-19')
plt.ylabel('New cases')
plt.xlabel('Date')
plt.legend(['Thailand'])

KeyError: 'datetime'

In [3]:
#1
covid19['date'] = pd.to_datetime(covid19['date'], format='%Y-%m-%d')
hospital_patients = covid19.dropna(subset=['hosp_patients'])
recent_hospital_patients = hospital_patients.groupby('location').tail(1)
today_date = recent_hospital_patients.iloc[0]['date']
two_weeks_before_date = today_date-datetime.timedelta(days=14)
fortnight_hospital_patients = hospital_patients.loc[covid19['date'] == two_weeks_before_date]
frames = [recent_hospital_patients, fortnight_hospital_patients]
result = pd.concat(frames)
result['difference'] = result.groupby('location')['hosp_patients'].pct_change()
result = result.dropna(subset=['difference'])

In [6]:
result[['location','difference']].nlargest(10, 'difference')

             location  difference
87822        Portugal    0.461538
27983          Cyprus    0.459184
104931    Switzerland    0.441227
53947          Israel    0.381050
64581      Luxembourg    0.344828
53109         Ireland    0.302158
114221  United States    0.290364
76685     Netherlands    0.282967
29739         Denmark    0.265306
39385          France    0.197705

In [7]:
result[['location','difference']].nsmallest(10, 'difference')

       location  difference
97533  Slovakia   -0.705674
48995   Hungary   -0.577904
28567   Czechia   -0.567742
87234    Poland   -0.509804
60619    Latvia   -0.469178
98138  Slovenia   -0.419444
20035    Canada   -0.401849
7457    Austria   -0.386646
26663   Croatia   -0.152098
34885   Estonia   -0.139665

       date_block_num       shop_id       item_id    item_price  item_cnt_day
count    2.928493e+06  2.928493e+06  2.928493e+06  2.928493e+06  2.928493e+06
mean     1.456976e+01  3.300295e+01  1.020028e+04  8.894664e+02  1.248337e+00
std      9.422952e+00  1.622543e+01  6.324396e+03  1.727498e+03  2.619586e+00
min      0.000000e+00  0.000000e+00  0.000000e+00 -1.000000e+00  1.000000e+00
25%      7.000000e+00  2.200000e+01  4.477000e+03  2.490000e+02  1.000000e+00
50%      1.400000e+01  3.100000e+01  9.355000e+03  3.990000e+02  1.000000e+00
75%      2.300000e+01  4.700000e+01  1.569100e+04  9.990000e+02  1.000000e+00
max      3.300000e+01  5.900000e+01  2.216900e+04  3.079800e+05  2.169000e+03

In [218]:

sdate= pd.to_datetime('2020-3-1', format='%Y-%m-%d', errors='ignore').date()
edate = covid19.iloc[-1]['date']
date = pd.date_range(sdate,edate,freq='D',normalize=False)
date

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10',
               ...
               '2021-09-19', '2021-09-20', '2021-09-21', '2021-09-22',
               '2021-09-23', '2021-09-24', '2021-09-25', '2021-09-26',
               '2021-09-27', '2021-09-28'],
              dtype='datetime64[ns]', length=577, freq='D')

NameError: name 'location' is not defined

In [191]:
type(covid19['date'][0])

str

In [221]:
location_list = covid19['location']
location_list = location_list.drop_duplicates()
sdate= pd.to_datetime('2020-3-1', format='%Y-%m-%d', errors='ignore').date()
edate = covid19.iloc[-1]['date']
date = pd.date_range(sdate,edate,freq='d')


@interact(location=location_list, date=date)
def plot_chart(location, date):
    df=covid19[covid19['location'].isin([location])]
    df.dropna(subset=['new_cases'])
    df['date'] = pd.to_datetime(covid19['date'], format='%Y-%m-%d')
    res = df[~(df['date'] < date)]
    sdate = date
    edate = covid19.iloc[-1]['date']
    fig, ax = plt.subplots(figsize=(13, 6))
    sns.lineplot(data=res, x=res['date'], y='new_cases', ax=ax )
    #ax.grid()
    plt.title(f'COVID-19 in {location}')

interactive(children=(Dropdown(description='location', options=('Afghanistan', 'Africa', 'Albania', 'Algeria',…

In [63]:
country = covid19['location']
country = country.drop_duplicates()

In [30]:
covid19.index()

TypeError: 'RangeIndex' object is not callable

In [148]:
df = covid19
df['date'] = pd.to_datetime(covid19['date'], format='%Y-%m-%d')
today_date = df.iloc[-1]['date']
two_weeks = today_date-datetime.timedelta(days=14)
four_weeks = two_weeks-datetime.timedelta(days=14)
#(df.new_cases < 0).any()
(df['new_cases'].isna()).any()

True

In [152]:
d = df[(df['new_cases'].isna())]
d

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
1177,ALB,Europe,Albania,2020-02-25,NaN,NaN,NaN,NaN,NaN,NaN,...,7.1,51.2,NaN,2.89,78.57,0.795,NaN,NaN,NaN,NaN
1178,ALB,Europe,Albania,2020-02-26,NaN,NaN,NaN,NaN,NaN,NaN,...,7.1,51.2,NaN,2.89,78.57,0.795,NaN,NaN,NaN,NaN
1179,ALB,Europe,Albania,2020-02-27,NaN,NaN,NaN,NaN,NaN,NaN,...,7.1,51.2,NaN,2.89,78.57,0.795,NaN,NaN,NaN,NaN
1180,ALB,Europe,Albania,2020-02-28,NaN,NaN,NaN,NaN,NaN,NaN,...,7.1,51.2,NaN,2.89,78.57,0.795,NaN,NaN,NaN,NaN
1181,ALB,Europe,Albania,2020-02-29,NaN,NaN,NaN,NaN,NaN,NaN,...,7.1,51.2,NaN,2.89,78.57,0.795,-190.8,-4.34,2.88,-66.412942
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117632,WLF,Oceania,Wallis and Futuna,2021-09-24,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,79.94,NaN,NaN,NaN,NaN,NaN
117633,WLF,Oceania,Wallis and Futuna,2021-09-25,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,79.94,NaN,NaN,NaN,NaN,NaN
117634,WLF,Oceania,Wallis and Futuna,2021-09-26,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,79.94,NaN,NaN,NaN,NaN,NaN
117635,WLF,Oceania,Wallis and Futuna,2021-09-27,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,79.94,NaN,NaN,NaN,NaN,NaN
117636,WLF,Oceania,Wallis and Futuna,2021-09-28,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,79.94,NaN,NaN,NaN,NaN,NaN

In [116]:
type(two_weeks)

pandas._libs.tslibs.timestamps.Timestamp

In [117]:
type(today_date)

pandas._libs.tslibs.timestamps.Timestamp

In [118]:
df[df.new_cases < 0] = 0
(df.new_cases < 0).any()

False

In [139]:
mask = (df['date'] > two_weeks) & (df['date'] <= today_date)

In [140]:
first_fortnight = df.loc[mask]
first_fortnight = first_fortnight.groupby('location').sum()
first_fortnight = first_fortnight.reset_index()
first_fortnight

,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,Afghanistan,2.166004e+06,913.0,973.999,100709.0,30.0,35.714,54373.812,22.920,24.449,...,0.000,0.00,528.444,7.00,907.62,7.154,0.0,0.0,0.0,0.0
1,Africa,1.146218e+08,174385.0,200680.716,2898774.0,5674.0,6011.998,83453.182,126.965,146.111,...,0.000,0.00,0.000,0.00,0.00,0.000,0.0,0.0,0.0,0.0
2,Albania,2.303785e+06,10351.0,11126.427,36443.0,115.0,91.713,801892.769,3602.936,3872.846,...,99.400,716.80,0.000,40.46,1099.98,11.130,0.0,0.0,0.0,0.0
3,Algeria,2.827794e+06,2517.0,2793.714,80132.0,183.0,211.284,63379.829,56.414,62.616,...,9.800,425.60,1172.374,26.60,1076.32,10.472,0.0,0.0,0.0,0.0
4,Andorra,2.120640e+05,93.0,85.573,1820.0,0.0,0.000,2741474.260,1202.265,1106.231,...,406.000,529.20,0.000,0.00,1172.22,12.152,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,Wallis and Futuna,0.000000e+00,0.0,0.000,0.0,0.0,0.000,0.000,0.000,0.000,...,0.000,0.00,0.000,0.00,1119.16,0.000,0.0,0.0,0.0,0.0
218,World,3.216923e+09,6863036.0,7135751.858,65998324.0,115467.0,118472.856,408499.920,871.500,906.131,...,90.076,484.89,841.820,37.87,1016.12,10.318,0.0,0.0,0.0,0.0
219,Yemen,1.227530e+05,514.0,540.001,23226.0,101.0,109.572,4025.925,16.857,17.711,...,106.400,408.80,693.588,9.80,925.68,6.580,0.0,0.0,0.0,0.0
220,Zambia,2.920407e+06,863.0,1021.856,50970.0,12.0,15.428,154350.189,45.611,54.008,...,43.400,345.80,195.132,28.00,894.46,8.176,0.0,0.0,0.0,0.0
221,Zimbabwe,1.800525e+06,3455.0,3219.714,64162.0,65.0,69.142,119301.922,228.927,213.334,...,22.400,429.80,515.074,23.80,860.86,7.994,0.0,0.0,0.0,0.0

In [129]:
type(first_fortnight)

pandas.core.frame.DataFrame

In [141]:
mask = (df['date'] > four_weeks) & (df['date'] <= two_weeks)

In [142]:
second_fortnight = df.loc[mask]
second_fortnight = second_fortnight.groupby('location').sum()
second_fortnight = second_fortnight.reset_index()
second_fortnight

,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,Afghanistan,2.151703e+06,960.0,981.715,100068.0,53.0,59.427,54014.808,24.100,24.643,...,0.000,0.00,528.444,7.00,907.62,7.154,0.0,0.0,0.0,0.0
1,Africa,1.114422e+08,292059.0,313787.998,2808572.0,7646.0,8368.570,81138.193,212.642,228.462,...,0.000,0.00,0.000,0.00,0.00,0.000,0.0,0.0,0.0,0.0
2,Albania,2.141526e+06,12044.0,12077.713,35360.0,55.0,49.428,745414.269,4192.228,4203.965,...,99.400,716.80,0.000,40.46,1099.98,11.130,0.0,0.0,0.0,0.0
3,Algeria,2.781887e+06,4448.0,5142.572,76642.0,345.0,375.857,62350.904,99.694,115.262,...,9.800,425.60,1172.374,26.60,1076.32,10.472,0.0,0.0,0.0,0.0
4,Andorra,2.109940e+05,66.0,60.287,1820.0,0.0,0.000,2727641.751,853.222,779.348,...,406.000,529.20,0.000,0.00,1172.22,12.152,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,Wallis and Futuna,0.000000e+00,0.0,0.000,0.0,0.0,0.000,0.000,0.000,0.000,...,0.000,0.00,0.000,0.00,1119.16,0.000,0.0,0.0,0.0,0.0
221,World,3.112797e+09,8088393.0,8336352.285,64298254.0,129604.0,130527.569,395277.578,1027.101,1058.590,...,90.076,484.89,841.820,37.87,1016.12,10.318,0.0,0.0,0.0,0.0
222,Yemen,1.148850e+05,633.0,612.000,21601.0,136.0,119.284,3767.879,20.759,20.070,...,106.400,408.80,693.588,9.80,925.68,6.580,0.0,0.0,0.0,0.0
223,Zambia,2.903195e+06,1722.0,1991.286,50690.0,33.0,35.858,153440.498,91.012,105.243,...,43.400,345.80,195.132,28.00,894.46,8.176,0.0,0.0,0.0,0.0
224,Zimbabwe,1.761706e+06,2044.0,1966.285,63025.0,131.0,149.000,116729.795,135.433,130.285,...,22.400,429.80,515.074,23.80,860.86,7.994,0.0,0.0,0.0,0.0

In [153]:
frames = [second_fortnight, first_fortnight ]
result = pd.concat(frames)
result

,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,Afghanistan,2.151703e+06,960.0,981.715,100068.0,53.0,59.427,54014.808,24.100,24.643,...,0.000,0.00,528.444,7.00,907.62,7.154,0.0,0.0,0.0,0.0
1,Africa,1.114422e+08,292059.0,313787.998,2808572.0,7646.0,8368.570,81138.193,212.642,228.462,...,0.000,0.00,0.000,0.00,0.00,0.000,0.0,0.0,0.0,0.0
2,Albania,2.141526e+06,12044.0,12077.713,35360.0,55.0,49.428,745414.269,4192.228,4203.965,...,99.400,716.80,0.000,40.46,1099.98,11.130,0.0,0.0,0.0,0.0
3,Algeria,2.781887e+06,4448.0,5142.572,76642.0,345.0,375.857,62350.904,99.694,115.262,...,9.800,425.60,1172.374,26.60,1076.32,10.472,0.0,0.0,0.0,0.0
4,Andorra,2.109940e+05,66.0,60.287,1820.0,0.0,0.000,2727641.751,853.222,779.348,...,406.000,529.20,0.000,0.00,1172.22,12.152,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,Wallis and Futuna,0.000000e+00,0.0,0.000,0.0,0.0,0.000,0.000,0.000,0.000,...,0.000,0.00,0.000,0.00,1119.16,0.000,0.0,0.0,0.0,0.0
218,World,3.216923e+09,6863036.0,7135751.858,65998324.0,115467.0,118472.856,408499.920,871.500,906.131,...,90.076,484.89,841.820,37.87,1016.12,10.318,0.0,0.0,0.0,0.0
219,Yemen,1.227530e+05,514.0,540.001,23226.0,101.0,109.572,4025.925,16.857,17.711,...,106.400,408.80,693.588,9.80,925.68,6.580,0.0,0.0,0.0,0.0
220,Zambia,2.920407e+06,863.0,1021.856,50970.0,12.0,15.428,154350.189,45.611,54.008,...,43.400,345.80,195.132,28.00,894.46,8.176,0.0,0.0,0.0,0.0
221,Zimbabwe,1.800525e+06,3455.0,3219.714,64162.0,65.0,69.142,119301.922,228.927,213.334,...,22.400,429.80,515.074,23.80,860.86,7.994,0.0,0.0,0.0,0.0

In [154]:
result['difference'] = result.groupby('location')['new_cases'].pct_change()
result = result.dropna(subset=['difference'])
result

,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,difference
0,Afghanistan,2.166004e+06,913.0,973.999,100709.0,30.0,35.714,54373.812,22.920,24.449,...,0.00,528.444,7.00,907.62,7.154,0.0,0.0,0.0,0.0,-0.048958
1,Africa,1.146218e+08,174385.0,200680.716,2898774.0,5674.0,6011.998,83453.182,126.965,146.111,...,0.00,0.000,0.00,0.00,0.000,0.0,0.0,0.0,0.0,-0.402912
2,Albania,2.303785e+06,10351.0,11126.427,36443.0,115.0,91.713,801892.769,3602.936,3872.846,...,716.80,0.000,40.46,1099.98,11.130,0.0,0.0,0.0,0.0,-0.140568
3,Algeria,2.827794e+06,2517.0,2793.714,80132.0,183.0,211.284,63379.829,56.414,62.616,...,425.60,1172.374,26.60,1076.32,10.472,0.0,0.0,0.0,0.0,-0.434128
4,Andorra,2.120640e+05,93.0,85.573,1820.0,0.0,0.000,2741474.260,1202.265,1106.231,...,529.20,0.000,0.00,1172.22,12.152,0.0,0.0,0.0,0.0,0.409091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Vietnam,9.961113e+06,135585.0,145844.714,246741.0,3000.0,3350.429,101469.205,1381.139,1485.652,...,642.60,1201.858,36.40,1055.60,9.856,0.0,0.0,0.0,0.0,-0.216086
218,World,3.216923e+09,6863036.0,7135751.858,65998324.0,115467.0,118472.856,408499.920,871.500,906.131,...,484.89,841.820,37.87,1016.12,10.318,0.0,0.0,0.0,0.0,-0.151496
219,Yemen,1.227530e+05,514.0,540.001,23226.0,101.0,109.572,4025.925,16.857,17.711,...,408.80,693.588,9.80,925.68,6.580,0.0,0.0,0.0,0.0,-0.187994
220,Zambia,2.920407e+06,863.0,1021.856,50970.0,12.0,15.428,154350.189,45.611,54.008,...,345.80,195.132,28.00,894.46,8.176,0.0,0.0,0.0,0.0,-0.498839
221,Zimbabwe,1.800525e+06,3455.0,3219.714,64162.0,65.0,69.142,119301.922,228.927,213.334,...,429.80,515.074,23.80,860.86,7.994,0.0,0.0,0.0,0.0,0.690313

In [155]:
result[['location','difference']].nlargest(10, 'difference')

                             location  difference
24                             Bhutan         inf
154                             Palau         inf
55                           Djibouti    4.027211
45                              Congo    3.805310
39           Central African Republic    3.769231
169  Saint Vincent and the Grenadines    3.583784
178                         Singapore    2.383052
164                           Romania    2.027933
73                              Gabon    1.573399
180                          Slovakia    1.422119

In [156]:
result[['location','difference']].nsmallest(10, 'difference')

          location  difference
121     Madagascar   -1.000000
196     Tajikistan   -1.000000
108         Kosovo   -0.814519
22           Benin   -0.813459
102          Japan   -0.712126
85   Guinea-Bissau   -0.689655
203        Tunisia   -0.679077
133         Monaco   -0.662651
174        Senegal   -0.655367
138     Mozambique   -0.654867